header{
    height: 100vh ;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container{
    text-align:center ;
    height:100% ;
    position: relative;
}
.head-color{
    color:var(--color-primary-text);
}

.cv{
    margin-top:2.5rem ;
    display: flex;
    gap:1.2rem ;
    justify-content: center;
}

.header-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.10 rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    size-adjust: 5rem;
}

.head-para{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--color-primary-text);
}
.head-para2{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--color-primary-text);
}

.header-icons::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}


.scrolldown{
    position: absolute;
    right:-2.3rem ;
    bottom:5rem  ;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
   .header{
    height: 68vh;
   }
    
}

@media screen and (max-width: 600px) {
    .header{
        height: 100vh;
    }
    .header-icons, .scrolldown{
        display: none;
    }
}